{% extends 'base.html.twig' %}

{% block title %}New Categoria{% endblock %}

{% block body %}
    <div class="d-flex flex-column justify-content-center aling-items-center mt-3">
        {{ include('components/TitleComponent.html.twig', {
            'title': 'Criar nova categoria'
        }) }}

        {{ include('category/_form.html.twig') }}

        <div class="mt-3">
            <a class="link link-primary" href="{{ path('app_categoria_index') }}">Voltar para Home</a>
        </div>
    </div>
{% endblock %}
