{% extends 'base.html.twig' %}

{% block title %}Edit Movimentacao{% endblock %}

{% block body %}
    <h1>Edit Movimentacao</h1>

    {{ include('components/_form.html.twig', {'button_label': 'Editar',
         'name': 'movimentacao'} )}}
{% endblock %}
